@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;0.1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    overflow-x: hidden;
}


.custom-content h1 {
    @apply text-4xl font-bold mb-4;
  }
  
.custom-content h2 {
    @apply text-3xl font-semibold mb-3;
}
  
.custom-content h3 {
    @apply text-2xl font-medium mb-2;
}
  
.custom-content ol {
    @apply list-decimal pl-6 mb-4;
    padding-left: 1.5rem; 
}
  
.custom-content ul {
    @apply list-disc pl-6 mb-4;
    padding-left: 1.5rem; 
}
  
.custom-content li {
    @apply mb-2;
}
  
.custom-content p {
    @apply mb-4 leading-relaxed font-serif;
}
  
.custom-content img {
    @apply max-w-full sm:max-w-md h-auto; 
}
  

.custom-content a {
    @apply text-blue-500 hover:text-blue-700 underline;
}
  
.custom-content a:hover {
    @apply text-blue-800; 
}

.custom-content .ql-indent-1 {
    padding-left: 2rem; 
}
  
.custom-content .ql-indent-2 {
    padding-left: 4rem;  
}
  
.custom-content .ql-indent-3 {
    padding-left: 5rem;  
}